/.ansible
/.vscode
/ansible-vars.yml
/ansible-vault.yml
*.swp
*~
*.retry
*.pyc
*.cache
/backup
/clm-config.ini
/config.yml
/ansible-vars.yml
/ansible-vault.yml
/ansible-vars.yml.cache
/.idea
/bin/_run-rsync.sh
/bin/_run-scp.sh
/bin/_run-ssh.sh
/bin/_run-sftp.sh
/bin/_ssh-config
/ansible.log
/scripts
/keys
/venv
/ext
